CHAT_SERVICE_PORT=8090
JWT_SIGNER_KEY=44b63ac98e12ce6ca2979e22a56fff7a7a7fea0b4c174965105f52f9d0c278ff
LLM_PROVIDER=openrouter
LLM_MODEL=
LLM_API_KEY=
LLM_BASE_URL=https://openrouter.ai/api/v1
WORK_SERVICE_BASE_URL=http://localhost:8082
WORK_SERVICE_TIMEOUT_SECONDS=5
